.container-table {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
    th {
      color: #B5B7C0;
      font-weight: 500;
      font-size: 14px;
    }
  }
  
  td,
  th {
    border-bottom: 1px solid #EEEEEE;
    text-align: left;
    padding: 16px;
  }
 
  .container-table__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-size: 20px;
    color: #B5B7C0;
  }
}

