
<div class="container">
  <div class="content">
      <div class="logo">
          <img src="../../../assets/img/icone.svg" alt="Ícone">
      </div>
      <div class="login">
              <p><b>Recuperação de Acesso</b><br>
                  Se você está enfrentando problemas para acessar ao portal, por favor, entre em contato diretamente com a administração da escola.<BR>
                  Estamos aqui para ajudar e resolver qualquer problema que você possa ter.<BR>
                  Atenciosamente, A Equipe de Administração Escola Octógno.</p>

              <button type="submit" class="acess">voltar ao login</button>
      </div>
  </div>
</div>
