@import "../../../styles.scss";

.navigation-menu-container {
    width: 306px;
    height: 100vh;
    background-color: $color-white;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__links {
        display: flex;
        flex-direction: column;

        .navigation-menu-item {
            margin-top: 30px;
            width: 100%;

            &__presence, &__report, &__help {
                em {
                    margin-right: 14px;
                }
                display: inline-flex;
                align-content: center;
                flex-wrap: wrap;
                background-color: transparent;
                width: 100%;
                height: 46px;
                padding: 10px;
                border-radius: 8px;
                border: none;
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                color: $color-gray-primary;
                cursor: pointer;
            }

            &__presence.active, &__report.active, &__help.active {
                background-color: $color-orange-primary;
                color: $color-white;
                font-weight: 700;
            }

            &__presence:hover, &__report:hover, &__help:hover {
                filter: brightness(90%);
                border: 1px solid $color-orange-primary;
            }
        }
    }

    &__login {
        display: flex;
        flex-direction: column;

        &--photo {
            border-radius: 50%; /* Define a forma do círculo */
            display: block;
            margin-right: 14px;
            background: #F18900;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px;
        }

        &--nickname {
            font-size: 32px;
        }

        &--button {
            display: flex;
            align-items: center;
            background: transparent;
            padding: 10px;
            border: 1px solid #F18900;
            background-color: rgba(241, 137, 0, 0.2);
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                filter: brightness(90%);
            }
        }

        &--text {
            display: flex;
            font-size: 14px;
            font-weight: 500;

            img {
                margin-left: 12px;
            }
        }

        &--signout {
            display: none;
        }
        
        &--signout.active {
            display: block;
            transition: opacity 0.5s ease;
            height: 70px;
            border: 1px solid orange;
            border-radius: 8px;
            margin-bottom: 4px;
    
            button {
                background: $color-white;
                border: none;
                color: $color-orange-primary;
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 10px;
                width: 100%;
                height: 100%;
    
                &:hover {
                    filter: contrast(0.9);
                }
            }
        }

    }

}