<div class="container-presence-control">
    <div class="container-presence-control__greetings">
        <h1 class="container-presence-control__greetings--text">Olá professor 👋🏼,</h1>
    </div>

    <staff-mack-filter-box></staff-mack-filter-box>

    <div class="container-presence-control__box">
        <div class="container-presence-control__content">
            <div class="container-presence-control__text">
                <h2 class="container-presence-control__text--title">Relatório</h2>
            </div>
        </div>
        <div class="container-presence-table">
            <staff-mack-table (studentsData)="reports = $event" [type]="'reports'" [data]="reports" [page]="page" [pageSize]="pageSize"></staff-mack-table>
            <staff-mack-pagination
              [page]="page"
              [totalPages]="totalPages"
              [pageNumbers]="pageNumbers"
              (pageChange)="page = $event"
            ></staff-mack-pagination>
        </div>
    </div>
</div>